[build]
  command = "npm run build"
  publish = ".output/public"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "ALLOWALL"
    Content-Security-Policy = "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; connect-src 'self'; frame-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; frame-ancestors 'self' https://web.telegram.org https://t.me"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

